<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>Facial Recognition</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils@0.6/control_utils.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils@0.3/camera_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils@0.6/control_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils@0.3/drawing_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/face_mesh.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/styles.css') }}" crossorigin="anonymous">
    <script>
      window.console = window.console || function(t) {};
    </script>
  </head>
  <body translate="no">
    <div class="container">
      <video class="input_video"></video>
      <div class="canvas-container">
        <canvas class="output_canvas" width="1280px" height="720px">
        </canvas>
      </div>
      <div class="loading">
        <div class="spinner"></div>
        <div class="message">Loading</div>
      </div>
      <div class="abs bottomright" style="border:1px solid black;">
        <button id="registerInVectorDB">Register Name</button>
      </div>
    </div>
    <div class="control-panel">
    </div>
    <div id="dialog">
      <div class="modal-content">
        <h2>Enter Your Name</h2>
        <input type="text" id="nameInput">
        <button id="enterName">Submit</button>
      </div>
    </div>
    <script src="{{ url_for('static', path='/app.js') }}" type="module"></script>
  </body>
</html>